body{
  background-image: url("../images/pexel.jpeg");
    background-size: cover;
  color: white;
  background-position: center;
  opacity: 1;
}
.jumbotron{
background-image: url("../images/ppp.png");
  background-size: cover;
color: white;
height: 70vh;
font-size: 50px;
font-family: 'Sigmar One', cursive;
}
#personalPic{

  width: 9vw;
}
#mediumPic{

  width: 13vw;
}
#largePic{

  width: 17vw;
}
.custom-control-label{
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}
.card-title{
  color:black;
}

.row{
  margin-left:10%;
}
#h{
  color: white;
  font-family: 'Sigmar One', cursive;

}
.customizeBox {
  border: 1px solid skyblue;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 3px skyblue;
  background-color: black;
}
#receipt {
  width: 400px;
  display: none;
  border: 1px double skyblue;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 0 auto 50px auto;
  background-color: #ddd;
  box-shadow: 5px 5px 15px #333;
}
.ingredients {
  color: darkblue;
  font-style: oblique;
  font-size: 85%;
}

.receiptRow {
  margin: 10px 0px;
  border-bottom: 1px dashed skyblue;
}

.costs {
  position: absolute;
  right: 15px;
}

#total {
  font-weight: bolder;
  padding: 10px;
  margin-top: 30px;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

#orderAgain {
  margin: auto;
  display: none;
}
